#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;  
  min-height: 100vh;
  width: 100%;
  p {
    margin: 0px;    
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;  
  font-weight: 400;
  
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center; 
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.logo {
  height: 2.5em;  
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.navegacion {
  padding: 1rem 0;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 1rem;  
}

.proyecto {
  display: flex;
  flex-direction: column;  
}

.proyecto h2 {
  margin: 0;
  line-height: 1.3; /* o ajusta según necesidad */
  font-size: 1.2rem; 
}

.nav-links {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 18px;
  transition: color 0.2s ease;
}

.nav-links li a:hover {
  color: #007bff;
}

.nav-links li a.activado {
  font-weight: bold;
  color: #ffcc00;
}

.usuario-registrado {
  display: flex;
  align-items: center;
  gap: 1rem;

  p {
    font-size: 18px;
    color: orange;
  }
}

/* clase para las paginas */
.pagina-web {
  display: flex;  
  flex-direction: column;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  height: 30vh;  
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  color: #333333;
  padding: 1rem;
  
}

